{{ typeId }}
<ngx-datatable
  class="bootstrap"
  [rows]=""
  [limit]="8"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'">
  <ngx-datatable-column name="No.">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
      {{ column.name }}
    </ng-template>
    <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
      {{ rowIndex+1 }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Type Name">
    <ng-template let-column="column" ngx-datatable-header-template>
      {{ column.name }}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Operations">
    <ng-template let-column="column" ngx-datatable-header-template>
      {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
