<!--{{ typeId }}-->
<div class="alert alert-fixed alert-dismissible fade show alert-danger"
     [style.display]="fileService.alert_new"
     role="alert">
  File(s) <span *ngFor="let msg of fileService.processedFile">"{{ msg.filename }}" </span> is(are) under processed.
  <button type="button" (click)="fileService.close_alert()" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<ngx-datatable
  class="bootstrap"
  [rows]="devs"
  [limit]="10"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'">
  <ngx-datatable-column name="No.">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
      {{ column.name }}
    </ng-template>
    <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
      {{ rowIndex+1 }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Chapter">
    <ng-template let-column="column" ngx-datatable-header-template>
      {{ column.name }}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.chapter }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Type">
    <ng-template let-column="column" ngx-datatable-header-template>
      {{ column.name }}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.type }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="E/C">
    <ng-template let-column="column" ngx-datatable-header-template>
      {{ column.name }}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.dev_type }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Content">
    <ng-template let-column="column" ngx-datatable-header-template>
      {{ column.name }}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.content }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Deviation">
    <ng-template let-column="column" ngx-datatable-header-template>
      {{ column.name }}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.d_content }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
