/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
//定义图标路径
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

body {
  padding-top: 5rem;
  margin-bottom: 5rem;
}
